
<%- include("header") -%>

<div class="box" id="heading">
  <h1>About Me !</h1>
</div>
<div class="box">
  <ul>
    <div class="item">
      <li>Currently a computer science student at Dwarkadas J. Sanghvi College of Engineering</li>
    </div>
    <div class="item">
      <li>I love to Code, development is quite interesting !</li>
    </div>
    <div class="item">
      <li>Machine Learning, Data Science and Analytics is my forte</li>
    </div>
  </ul>
</div>
<%- include("footer") -%>
